body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #bdbdbd;
}

.wrapper {
    min-width: 900px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    background-color: #3f3e3e;
    color: white;
    border-radius: 18px;
}

.wrapper .form {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    gap: 6px;
    width: 300px;
}

.wrapper .form .expiration {
    display: flex;
    gap: 6px;
}

.wrapper .form .cardNo {
    display: flex;
    gap: 6px;
}

.wrapper .form .cardNo input {
    width: 100%;
}

.wrapper .form .expiration select {
    width: 100%;
}

.wrapper .form label {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.wrapper .form input {
    height: 24px;
    margin-bottom: 1.2rem;
    background-color: #bdbdbd;
}

.wrapper .form select {
    height: 24px;
    margin-bottom: 1.2rem;
    background-color: #bdbdbd;
}

/* ! --- --- --- ! */

.innerCard {
    margin: auto auto;
    transition: 5s ease all;
}

.wrapper .credit-card-front,
.wrapper .credit-card-back {
    width: 524px;
    height: 265px;
    border-radius: 12px;
    margin: auto auto;
    background-color: #4f5a6e;
    position: relative;
    transition: 5s ease all;
}

.wrapper .credit-card-back {
    display: none;

}

.wrapper .credit-card-front h1,
.wrapper .credit-card-back h1 {
    color: white;
    position: absolute;
    top: 0;
    left: 1rem;
    font-family: 'Poppins', monospace;
    font-size: 30px;
}

.cardNoCard {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.wrapper .credit-card-front .cardNoCard {
    color: white;
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    letter-spacing: 8px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
}

.wrapper .credit-card-back h2 {
    position: absolute;
    bottom: 0;
    color: #fff;
    letter-spacing: 8px;
    font-family: 'IBM Plex Mono', monospace;
    right: 50%;
    top: 50%;
}

.wrapper .credit-card-front h3 {
    color: white;
    position: absolute;
    bottom: -0.5rem;
    left: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 22px;
    letter-spacing: 3px;
}

.wrapper .credit-card-front .cardDate {
    color: white;
    position: absolute;
    bottom: -0.5rem;
    right: 8rem;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    display: flex;
    gap: 0.5rem;
}

.wrapper .credit-card-front .mastercard {
    width: 80px;
    position: absolute;
    bottom: -0.5rem;
    right: 0.5rem;
    visibility: hidden;
}

.wrapper .credit-card-front .visa {
    width: 80px;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    visibility: hidden;
}