body {
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.screen {
    width: 1400px;
    height: 800px;
    border: 1px solid black;
    background-color: rgb(154, 154, 154);
    color: black;
}

.door {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.arrow {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.arrow i {
    font-size: 5rem;
}

.text {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    font-size: 4rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}